ALTER TABLE dbo.MEMB_INFO ADD [Gold] [int] NOT NULL DEFAULT 0  
GO
ALTER TABLE dbo.MEMB_INFO ADD [Cash] [int] NOT NULL DEFAULT 0  
GO
ALTER TABLE dbo.MEMB_INFO ADD [Point] [int] NOT NULL DEFAULT 0  
GO